@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.page {
    display: flex;
    flex-direction: row;
    margin: auto 2em;
}

/* give the page prototype container a fixed width to simulate looking at an actual mobile screen */
.page-prototype {
    width: 360px;
    min-width: 360px;
    min-height: 640px;
    display: inline-block;
    background-color: beige;
}

.page-description {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin: auto 4em;
    padding-inline: 4em;
}

#add-button {
    background-color: #E4E4E4;
    font-weight: bold;
}

.todo-item {
    background-color: #403F3F;
    color: #FFFFFF;
}

.general-item {
    width: 100%;
    min-height: 2em;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-item:hover {
    cursor: pointer;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    margin: auto 2em;
    gap: 0.7em;
}

.completed-item {
    background-color: #AFE1AF;
    color: white;
    text-decoration: line-through;
}