@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1576829578580-064caada9c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-repeat: round;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1598528132593-d8caf8baf450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1464&q=80");
    background-repeat: round;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: 99vh;
  font-family: "Titillium Web", sans-serif;
}

.add-button {
  border: solid black 2px;
  padding: 5px;
  background-color: white;
}

.add-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.add-item-input-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.select-list-button {
  border: 2px black solid;
}

.user-display-name {
  color: green;
}

.sign-in-methods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* min-height: 99vh; */
}

.email-signin {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.share-success-msg {
  background-color: green;
  color: white;
}

.share-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
